
@media screen and (max-width:768px) ,(width:768px) {
    header{
        height: 100px !important;
    }
    header.active{
        height: 60px !important;
    }
    header nav,
    header > div > button{
        display: none !important;
    }
    header > div > a{
        margin-left: 0px !important;
    }
    header.active > div > a{
        transform: translatey(10%) !important;
    }
    header > div > a >p{
        opacity: 1 !important;
        transition: all 0.7s ease-in-out !important;
    }
    header.active > div > a >p{
        opacity: 0 !important;
    }
    .togg-button{
        display: flex !important;
        width: fit-content !important;
        height: fit-content !important;
    }
    #slide .item{
        width: 90px;
        height:120px;
        border-radius: 12px;
        top: 80%;
        box-shadow:  0 18px 18px #121212;
    }
    #slide .item:nth-child(4){
        left:calc(50% + 100px);
    }
    #slide .item:nth-child(5){
        left:calc(50% + 200px);
        z-index: 1111;
    }
    #slide .item:nth-child(n+6){
        left:calc(50% + 300px);
        opacity: 1;
    }
    #slide .item .content{
        text-align: center;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    #backToTopBtn{
        bottom: 10px;
        right: 15px;
        width:25px;
        height: 25px;
        padding: 5px;
        font-size: 12px;
    }
    .buttons{
        bottom: 15px;
    }
    .buttons button{
        width: 25px;
        height: 25px;
    }
    .features-image > div > div{
        box-shadow:  0px 0px 0px 5px #ffffff;
    }
    .pool-card{
        transform: translateX(0%);
        backdrop-filter: blur(2px);
    }
    .room-card{
        width: 300px;
        height: 417px;
    }
    .room-card.layer-2{
        width: 300px;
        height: 417px;
    }

}

@media screen and ( min-width:769px) {
    .togg-button{
        display:none !important;
    }
    header > div > button{
        padding-block: 8px !important;
        padding-inline: 20px !important;
    }
    header.active > div > button{
        padding-block: 6px !important;
        padding-inline: 15px !important;
    }
}

@media screen  and ( max-width:992px) and ( min-width:769px) {
    header > div > a{
        scale:1 !important;
        margin-left: 10px !important;
    }
    header > div > nav{
        scale: 1 !important;
        justify-content: center !important;
        gap:0px !important;
    }
    header.active > div > nav{
        justify-content: center !important;
    }
}

@media screen and (max-width:1299px) and (min-width:992px) {
    header > div > a{
        scale:1.1 !important;
        margin-left: 30px !important;
    }
    header > div > nav{
        scale: 1.1 !important;
        justify-content: center !important;
        gap:10px !important;
    }
}
@media screen and (min-width:1300px) {
    header > div > a{
        flex-direction: row !important;
    }
}